<table>
    <tr>
        <td class="left-item"><img src="static/img/django-logo-negative.svg"/></td>
        <td class="center-item">==</td>
        <td class="right-item">Opinionated<br>Framework</td>
    </tr>
</table>