<table>
    <tr>
        <td colspan="2" class="thanks">Thanks!</td>
    </tr>
    <tr>
        <td class="twitter">@theSeanOC</td>
        <td class="slides">seanoc.co/ato2014</td>
    </tr>
</table>