<div class="tour-text">A Tour Of</div>
<img class="django-logo" src="static/img/django-logo-negative.svg" />
<div class="sub-title">by <strong><a href="https://twitter.com/theSeanOC">@theSeanOC</a></strong></div>