<div class="top-half">
    <div class="headshot">
        <img src="static/img/headshot.jpg" alt="Sean O'Connor" />
        <div class="sub-title">Sean O'Connor</div>
    </div>
    <div class="chauncey">
        <img src="static/img/chauncey-chat.svg">
    </div>
</div>
<div class="bottom-half">
    <div class="django-nyc"><img src="static/img/django_nyc.svg" /></div>
    <div class="djangocon"><img src="static/img/djangocon-logo.png"></div>
</div>