body {
  margin: 0;
  background-color: #092E20;
  font-family: "Trebuchet MS", sans-serif; }

#viewport {
  border: none;
  height: 100vh;
  width: 100vw;
  padding: 0.1px; }
  #viewport div:only-child {
    height: 100%;
    width: 100%;
    padding: 0.1px; }

a:link {
  text-decoration: none;
  color: inherit; }

/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url(../fonts/source-code-pro-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url(../fonts/source-code-pro.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
#title-slide {
  color: white;
  text-align: center; }
  #title-slide .tour-text {
    text-align: center;
    font-size: 20vh;
    font-weight: bold;
    color: #ffc757;
    margin-top: 2vh; }
  #title-slide .django-logo {
    margin: 2vh auto;
    height: 50vh; }
  #title-slide .sub-title {
    color: #93cb46;
    font-size: 7vh; }

#who-slide .top-half {
  background-color: white;
  height: 40vh;
  width: 100vw;
  padding-top: 5vh; }
#who-slide .bottom-half {
  padding-top: 5vh;
  height: 50vh;
  width: 100%; }
#who-slide .chauncey {
  float: right;
  margin-right: 20vw; }
  #who-slide .chauncey img {
    height: 35vh; }
#who-slide .headshot {
  float: left;
  margin-left: 20vw; }
  #who-slide .headshot img {
    height: 30vh;
    margin-bottom: 2px; }
#who-slide .sub-title {
  margin-top: 0.5vh;
  text-align: center;
  font-weight: bold;
  font-size: 4vh;
  color: #092E20; }
#who-slide .django-nyc {
  float: left;
  margin-left: 12vw;
  margin-top: 7vh; }
  #who-slide .django-nyc img {
    width: 35vw; }
#who-slide .djangocon {
  float: right;
  margin-right: 12vw; }
  #who-slide .djangocon img {
    width: 35vw; }

.docs-slide iframe {
  border: 0;
  height: 100%;
  width: 100%; }

#django-slide {
  text-align: center; }
  #django-slide img {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    margin-top: 20vh; }

#python-slide {
  background-color: white;
  text-align: center; }
  #python-slide img {
    margin-left: 10.5vw;
    width: 80vw;
    margin-top: 20vh; }

#not-cms-slide {
  margin-top: 20vh;
  text-align: center;
  line-height: 30vh;
  border: 0.1px solid white; }
  #not-cms-slide table {
    margin: auto; }
  #not-cms-slide .left-item,
  #not-cms-slide .center-item,
  #not-cms-slide .right-item {
    display: inline;
    color: white;
    font-family: "Source Code Pro";
    font-size: 13vh;
    line-height: 30vh;
    vertical-align: middle; }
  #not-cms-slide .left-item img {
    display: inline;
    height: 20vh; }

#framework-slide {
  margin-top: 20vh;
  text-align: center;
  line-height: 30vh;
  border: 0.1px solid white; }
  #framework-slide table {
    margin: auto; }
  #framework-slide .left-item,
  #framework-slide .center-item,
  #framework-slide .right-item {
    display: inline;
    color: white;
    font-family: "Source Code Pro";
    font-size: 13vh;
    line-height: 30vh;
    vertical-align: middle; }
  #framework-slide .left-item img {
    display: inline;
    height: 20vh; }

#opinionated-framework-slide {
  margin-top: 20vh;
  text-align: center;
  line-height: 30vh;
  border: 0.1px solid white; }
  #opinionated-framework-slide table {
    margin: auto; }
  #opinionated-framework-slide .left-item,
  #opinionated-framework-slide .center-item,
  #opinionated-framework-slide .right-item {
    display: inline;
    color: white;
    font-family: "Source Code Pro";
    font-size: 12vh;
    vertical-align: middle; }
  #opinionated-framework-slide .left-item img {
    display: inline;
    height: 20vh; }

/*# sourceMappingURL=main.css.map */
